.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-button {
  width: 100%;
  height: 14rem;
  color: var(--white);
  font-size: var(--font-medium);
  text-align: center;
}

.entropy-logo {
  height: 2rem;
  margin-bottom: 1rem;
}

.signin-card {
  padding: 0;
  animation: var(--default-fade);
  width: min(80vw, 18.6rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--translucent);
  color: white;
  border-radius: 8px;
  z-index: 10;
  overflow: hidden;
}

.signin-container {
  width: 80%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.signin-button {
  width: 100%;
  color: var(--white);
  background-color: var(--translucent-dark-1);
  height: 2.75rem;
  font-size: var(--font-small) !important;
  text-wrap: nowrap;
  overflow: hidden;
}

::ng-deep .email-form {
  width: 100%;
  height: 2.75rem !important;
  color: white !important;
  font-size: var(--font-small) !important;
  text-overflow: clip !important;
  text-align: center !important;
}
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
::ng-deep .mat-mdc-form-field-infix {
  height: 2.75rem !important;
  min-height: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
}

input {
  color: var(--white) !important;
  caret-color: var(--color-accent) !important;
  height: 2.75rem !important;
  text-align: center !important;
}

.or {
  color: var(--translucent-grey-2);
  font-size: var(--font-small);
}

.horizontal-line {
  height: 0.1rem;
  background-color: var(--translucent-grey-2);
  width: 40%;
  border-radius: 8px;
}

.line-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


::ng-deep .mdc-notched-outline__leading {
  border-color: var(--translucent-grey-2) !important;
}

::ng-deep .mdc-notched-outline__trailing {
  border-color: var(--translucent-grey-2) !important;
}

input::placeholder {
  color: var(--translucent-grey-2) !important;
  text-align: center !important;
}

input::selection {
  background: var(--color-accent-2) !important;
}

.inner-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.provider-logo {
  height: 1.6rem;
}

.slogan-text {
  animation: var(--default-fade);
  color: var(--translucent-dark-2);
  text-align: center;
  font-size: 8rem;
  font-weight: 600;
  letter-spacing: 0.6rem;
  line-height: 12rem;
  width: 62rem;
  overflow: hidden;
  user-select: none;
}

.text-container {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
