.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-button {
  width: 100%;
  height: 180px;
  /*height: 128px;*/
  color: var(--white);
  font-size: var(--font-large);
  /*background-color: var(--translucent-dark);*/
  text-align: center;
}

.entropy-logo {
  height: 32px;
  margin-bottom: 16px;
}

.signin-card {
  padding: 0;
  animation: var(--default-fade);
  width: min(80vw, 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--translucent);
  color: white;
  border-radius: 8px;
  z-index: 10;
}

.signin-container {
  width: 80%;
  max-width: 288px;
  padding: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login-button {
  width: 100%;
  color: var(--white);
  background-color: var(--translucent-dark-1);
  height: 44px;
}

::ng-deep .email-form {
  width: 100%;
  height: 44px !important;
  color: white !important;
}

.or {
  color: var(--translucent-grey-2);
}

.horizontal-line {
  height: 1.6px;
  background-color: var(--translucent-grey-2);
  width: 40%;
  border-radius: 8px;
}

.line-container {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}


::ng-deep .mdc-notched-outline__leading {
  border-color: var(--translucent-grey-2) !important;
}

::ng-deep .mdc-notched-outline__trailing {
  border-color: var(--translucent-grey-2) !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
}
::ng-deep .mat-mdc-form-field-infix {
  height: 44px !important;
  min-height: 0px !important;
  padding: 0 !important;
}

input {
  color: var(--white) !important;
  caret-color: var(--color-accent) !important;
  height: 44px !important;
  text-align: center !important;
}

input::placeholder {
  color: var(--translucent-grey-2) !important;
  text-align: center !important;
}

input::selection {
  background: var(--color-accent-2) !important;
}

.inner-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.provider-logo {
  height: 24px;
}

.slogan-text {
  animation: var(--default-fade);
  color: var(--translucent-dark-2);
  text-align: center;
  font-size: 128px;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: 182px;
  width: 1000px;
  overflow: hidden;
  user-select: none;
}

.text-container {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
