<div class="page">
  <div class="container">
    <div class="text-container">
      <span class="slogan-text"> Music is as much of a science as it is an art. </span>
    </div>

    <mat-card class="signin-card">
      <div class="signin-container" *ngIf="!authService.user">
        <img src="assets/logo_icon.svg" class="entropy-logo" >

        <button class="signin-button" mat-flat-button (click)="authService.loginWithGoogle()">
          <div class="inner-button-container">
            <img src="assets/google-logo-NePEveMl%20(openai).svg" class="provider-logo">
            Signin with Google
          </div>
        </button>

        <div class="line-container">
          <div class="horizontal-line or-line"></div>
          <div class="or">or</div>
          <div class="horizontal-line or-line"></div>
        </div>

        <mat-form-field class="email-form" appearance="outline">
          <input spellcheck="false" matInput placeholder="Enter Email">
        </mat-form-field>

        <button class="signin-button" mat-flat-button (click)="authService.login('', '')"> Continue </button>
      </div>

      <a class="app-button" mat-button routerLink="/app" *ngIf="authService.user"> Start Creating </a>
    </mat-card>
  </div>

<!--  <app-bottom-links></app-bottom-links>-->
</div>
