.bottomSection {
  position: relative;
  height: 64px;
  background-color: var(--translucent-dark-1);
  bottom: -64px;
  left: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Bottom Section*/


.name {
  color: var(--translucent-grey-2);
  padding-left: 16px;
}
