<mat-toolbar>
  <a routerLink="/" class="logo" >
      <img src="assets/logo_icon.svg" class="img">
      <span class="txt">Entropy Audio </span>
  </a>

  <div class="homepage-links">

    <a *ngIf="router.url == '/'" routerLink="company" mat-button class="header-buttons">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Company
        <!--        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>-->
      </div>
    </a>

    <a *ngIf="router.url == '/'" routerLink="entropy" mat-button class="header-buttons">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Entropy 1
<!--        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>-->
      </div>
    </a>

<!--    <a *ngIf="router.url == '/'" routerLink="news" mat-button class="header-buttons">-->
<!--      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">-->
<!--        News-->
<!--&lt;!&ndash;        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>&ndash;&gt;-->
<!--      </div>-->
<!--    </a>-->
    <button [disabled]="!signedIn" (click)="returnToSettingsMenuDelay($event)" [matMenuTriggerFor]="menu" class="header-buttons" mat-button>
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Account
<!--        <mat-icon *ngIf="signedIn">expand_more</mat-icon>-->
      </div>
    </button>
  </div>

<!--  <mat-tab-group>-->
<!--    <mat-tab label="First"> Content 1 </mat-tab>-->
<!--    <mat-tab label="Second"> Content 2 </mat-tab>-->
<!--    <mat-tab label="Third"> Content 3 </mat-tab>-->
<!--  </mat-tab-group>-->


  <mat-menu [hasBackdrop]="false" #menu class="matMenu" xPosition="before">
    <div (click)="$event.stopPropagation()">
      <div *ngIf="settingsMenu">
        <button (click)="openCreditsMenu($event)" class="menuItem" mat-menu-item> View Credits </button>
        <button (click)="openAudioSettings($event)" class="menuItem" mat-menu-item> App Settings </button>
        <!--      <button class="menu-item" mat-menu-item> history </button>-->
        <a class="menuItem" routerLink="/" mat-menu-item (click)="signOut()"> Sign Out </a>
      </div>


      <div class="menuNavBtns">
        <button *ngIf="!settingsMenu" (click)="returnToSettingsMenu($event)" mat-button class="backBtn">
          <mat-icon>navigate_before</mat-icon>
        </button>

        <!--      <button *ngIf="!settingsMenu" (click)="returnToSettingsMenu($event)" mat-button class="backBtn" style="font-size: 15px !important;">-->
        <!--        <mat-icon>close</mat-icon>-->
        <!--      </button>-->
      </div>


      <div class="subMenu" *ngIf="creditsMenu">
        <div class="creditsMenu">
          <div>
            <div class="subscriptionTier"> Free</div>
            <div class="subTitle">Subscription Tier</div>
          </div>
          <div class="creditsDisplay">Credits: {{firestore.getCredits()}} / 25</div>
        </div>
      </div>

      <div class="subMenu" *ngIf="audioSettings">
        <div class="audioSettings">
          <div>
            <div class="audioSettingsTitle"> Generations Per Prompt</div>
            <div class="subTitle">Increasing generations uses more credits per prompt.</div>
          </div>
          <div class="valueSelector">
            <button (click)="updateWaveboxes(2)" class="waveboxBtn" mat-button>2</button>
            <button (click)="updateWaveboxes(4)" class="waveboxBtn" mat-button>4</button>
          </div>
        </div>
      </div>
    </div>

  </mat-menu>
</mat-toolbar>
