::ng-deep .mat-toolbar {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  align-content: center !important;
  position: absolute !important;
  z-index: 10 !important;
  background-color: rgba(0,0,0,0) !important;
  color: var(--white) !important;
  height: 4rem !important;
}

.logo-text {
  vertical-align: center;
  text-align: center;
  font-family: 'Quando', serif !important;
  font-size: 1.2rem;
}

.header-buttons {
  color: var(--white) !important;
  font-size: var(--font-small);
}

@media (max-width: 576px) {
  .header-buttons-optional {
    display: none;
  }
}

.profile-button {
  color: white !important;
}

.img {
  height: 2rem;
  padding-right: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.header-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 50%;
  gap: 2rem;
}

/* Quick Settings */

::ng-deep .matMenu {
  background-color: var(--translucent) !important;
  color: var(--white) !important;
  transform: translateX(1.5rem) translateY(1rem) !important;

}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

::ng-deep .menu-item {
  color: var(--white) !important;
  text-align: center !important;
}

.menu-nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

::ng-deep .back-button {
  padding: 0 !important;
  width: 2rem !important;
  height: 2rem !important;
  min-width: 2rem !important;
  min-height: 2rem !important;
  color: var(--white) !important;
}

::ng-deep .num-wavebox-button {
  padding: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  min-width: 3rem !important;
  min-height: 3rem !important;
  color: var(--white) !important;
}

mat-icon {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-size: var(--font-large) !important;
}

.audio-settings {
  margin: 1rem;
  width: 13rem !important;
}

.value-selector {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.audio-settings-title {
  font-size: var(--font-large);
  width: 10rem !important;
}

.sub-title {
  color: var(--translucent-grey-2);
  padding-top: 0.5rem;
}

.credits-menu {
  margin: 1rem;
  width: 13rem !important;
}

.credits-display {
  padding-top: 1rem;
  text-align: center;
}

.subscription-tier {
  font-size: var(--font-large);
}
