::ng-deep .mat-toolbar {
  display: flex;
  justify-content: space-between !important;
  align-items: center !important;
  align-content: center !important;
  position: absolute !important;
  z-index: 10 !important;
  background-color: rgba(0, 0, 0, 0) !important;
  color: var(--white) !important;
  height: 4rem !important;
}

.logo-text {
  vertical-align: center;
  text-align: center;
  font-family: 'Quando', serif !important;
  font-size: 1.2rem;
  margin-left: 1rem;
}

.header-buttons {
  color: var(--white) !important;
  font-size: var(--font-small);
}

@media (max-width: 576px) {
  .header-buttons-optional {
    display: none;
  }
}

.profile-button {
  color: white !important;
}

.img {
  height: 2rem;
  /*padding-right: 1rem;*/
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--white);
}

.header-button-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  width: 50%;
  gap: 4rem;
}

/* Quick Settings */

::ng-deep .mat-menu {
  background-color: var(--translucent) !important;
  color: var(--white) !important;
  margin-top: 1rem;
  max-width: none !important;
}

.settings-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
}

.sub-menu {
  padding: 1rem 2rem 2rem 2rem;
  width: 14rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sub-menu-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  padding: 1rem 1rem 0 1rem;
}

.sub-menu-title {
  font-size: var(--font-large);
  width: 10rem !important;
}

.sub-menu-sub-title {
  color: var(--translucent-grey-2);
  margin: 1rem 0 1rem 0;
}

.sub-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

::ng-deep .mat-mdc-menu-content {
  padding: 0 !important;
}

::ng-deep .menu-item {
  color: var(--white) !important;
  text-align: center !important;
}

::ng-deep .mat-mdc-menu-item-text {
  font-size: var(--font-small) !important;
}

::ng-deep .back-button {
  padding: 0 !important;
  width: 2rem !important;
  height: 2rem !important;
  min-width: 2rem !important;
  min-height: 2rem !important;
  color: var(--white) !important;
}

.mat-icon {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  text-align: center !important;
  font-size: var(--font-large) !important;
  margin: 0 !important;
}

::ng-deep .num-wavebox-button {
  padding: 0 !important;
  width: 4rem !important;
  height: 4rem !important;
  min-width: 4rem !important;
  min-height: 4rem !important;
  color: var(--white) !important;
}

.value-selector {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.credits-display {
  padding-top: 1rem;
  text-align: center;
}
