<mat-toolbar>
  <a routerLink="/" class="logo" >
      <img src="assets/logo_icon.svg" class="img">
      <span class="logo-text">Entropy Audio</span>
  </a>

  <div class="header-button-container">
    <a *ngIf="router.url == '/'" routerLink="company" mat-button class="header-buttons header-buttons-optional">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        About Us
<!--        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>-->
      </div>
    </a>

    <a *ngIf="router.url == '/'" routerLink="entropy" mat-button class="header-buttons header-buttons-optional">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Entropy 1
<!--        <mat-icon style="transform: rotate(-45deg);">navigate_next</mat-icon>-->
      </div>
    </a>

    <button [disabled]="!signedIn" (click)="returnToSettingsMenuDelay($event)" [matMenuTriggerFor]="menu" class="header-buttons" mat-button>
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center">
        Account
        <mat-icon>expand_more</mat-icon>
      </div>
    </button>
  </div>

  <mat-menu [hasBackdrop]="false" #menu class="mat-menu">
    <div (click)="$event.stopPropagation()">

      <div *ngIf="showSettingsMenu">
        <button (click)="openCreditsMenu($event)" class="menu-item" mat-menu-item> View Credits </button>
        <button (click)="openAudioSettings($event)" class="menu-item" mat-menu-item> App Settings </button>
        <a class="menu-item" routerLink="/" mat-menu-item (click)="signOut()"> Sign Out </a>
      </div>

      <div class="menu-nav-buttons">
        <button *ngIf="!showSettingsMenu" (click)="returnToSettingsMenu($event)" mat-button class="back-button">
          <mat-icon>navigate_before</mat-icon>
        </button>

        <!--      <button *ngIf="!settingsMenu" (click)="returnToSettingsMenu($event)" mat-button class="backBtn" style="font-size: 15px !important;">-->
        <!--        <mat-icon>close</mat-icon>-->
        <!--      </button>-->
      </div>

      <div class="sub-menu" *ngIf="showCreditsMenu">
        <div class="credits-menu">
          <div>
            <div class="subscription-tier"> Free</div>
            <div class="sub-title">Subscription Tier</div>
          </div>
          <div class="credits-display">Credits: {{firestore.getCredits()}} / 25</div>
        </div>
      </div>

      <div class="sub-menu" *ngIf="showAudioSettings">
        <div class="audio-settings">
          <div>
            <div class="audio-settings-title"> Generations Per Prompt</div>
            <div class="sub-title">Increasing generations uses more credits per prompt.</div>
          </div>
          <div class="value-selector">
            <button (click)="updateWaveboxes(2)" class="num-wavebox-button" mat-button>2</button>
            <button (click)="updateWaveboxes(4)" class="num-wavebox-button" mat-button>4</button>
          </div>
        </div>
      </div>

    </div>
  </mat-menu>
</mat-toolbar>
