<div class="page">
  <div class="container">

    <div></div>
    <div></div>
    <div class="non-card-section">
      <div class="header-container">
        <div class="title-container">
          <div class="title">The Future of Audio Synthesis</div>
        </div>
        <div class="sub-text">
          Entropy Audio is a company focused on controllable AI and sound.<br>
          Our mission is to bring a new paradigm of tools to creators.<br>
        </div>
      </div>
    </div>

    <div></div>

    <mat-card class="card-section" appearance="outlined">
<!--      <div class="card-visual">-->
<!--        <img class="waveform" src="assets/waveform.PNG">-->
<!--      </div>-->
      <div class="card-title">
        Human Creativity
      </div>
      <div class="card-text">
        We enable composers to create sound with natural language synthesis. This paradigm augments creativity for musicians instead of replacing it.
      </div>

    </mat-card>

    <mat-card class="card-section" appearance="outlined">
      <div class="card-title">
        Controllability
      </div>
      <div class="card-text">
        Our state of the art machine learning systems understand music theory and sound design.
        Users comfortable with the technical side of music will feel right at home.
      </div>
    </mat-card>

    <mat-card class="card-section" appearance="outlined">
      <div class="card-title">
        Democratization
      </div>
      <div class="card-text">
        Natural language synthesis lowers the technical barriers and cost of obtaining high-quality sound, reducing the need for expensive sample packs or complex software.
      </div>

    </mat-card>



    <div class="card-text" style="color: var(--translucent-grey-2)">
      "Music is as much of a science as it is an art."
    </div>

  </div>
  <app-bottom-links></app-bottom-links>

</div>
