@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'node_modules/firebaseui/dist/firebaseui.css';

:root {
  --greyscale: 100;
  --white: #ffffff;

  /* Grey */
  --translucent: rgba(var(--greyscale), var(--greyscale), var(--greyscale), 0.4);
  /*--translucent-grey: rgba(200, 200, 200, 0.5);*/
  --translucent-grey-2: rgba(200, 200, 200, 0.25);

  /* Dark */
  --translucent-dark-1: rgba(49, 51, 54, .7);
  --translucent-dark-2: rgba(49, 51, 54, .35);
  --translucent-dark-3: rgba(49, 51, 54, .1);

  /* Background */
  --background-color: rgb(43, 43, 44);

  --none: rgba(53, 53, 54, 1);

  /* Accent */
  --color-accent: rgba(222, 123, 106, 0.6);
  --color-accent-2: rgba(222, 123, 106, 0.2);
  --error: rgb(178, 38, 31);

  --line-size: 3px;
  --line-size-2: 6px;
  --font-large: 24px;
  --font-small: 14px;
  --interface-width: 750px;

  --ripple: var(--translucent-dark-1);
  --ripple2: var(--translucent-dark-1);


  --defualt-fade: opacityFade ease-in 300ms forwards;
  --default-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);


  overflow-x: hidden;
}

@keyframes opacityFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  scrollbar-width: none;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.svg {
  height: 50px;
  width: 50px;
  margin-right: 16px;
}

.mat-mdc-unelevated-button {
  letter-spacing: normal !important;
}

.my-custom-snackbar {
  margin: 0 !important;
  position: absolute !important;
  bottom: 64px !important;
}

.page {
  top: 0;
  bottom:0;
  height: 100%;
  width: 100%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  animation: var(--defualt-fade) !important;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
