@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'node_modules/firebaseui/dist/firebaseui.css';

:root {
  --greyscale: 100;
  --white: #ffffff;

  --translucent: rgba(var(--greyscale), var(--greyscale), var(--greyscale), 0.4);
  --translucent-grey-2: rgba(200, 200, 200, 0.25);
  /*--translucent-grey-3: rgba(200, 200, 200, 0.2);*/

  --translucent-dark-1: rgba(49, 51, 54, .7);
  --translucent-dark-2: rgba(49, 51, 54, .35);
  --translucent-dark-3: rgba(49, 51, 54, .1);

  --background-color: rgb(43, 43, 44);

  --none: rgba(53, 53, 54, 1);
  --clear: rgba(53, 53, 54, 0);

  --color-accent: rgba(222, 123, 106, 0.6);
  --color-accent-2: rgba(222, 123, 106, 0.2);
  --error: rgb(178, 38, 31);

  --line-size-wavebox: 3px;
  --line-size-text-outline: 3px;
  --line-size-2: 6px;

  --font-large: 1.45rem;
  --font-medium: 1.2rem;
  --font-normal: 1rem;
  --font-small: 0.88rem;

  --generate-button-size: 2rem;

  --ripple: var(--translucent-dark-1);
  --ripple2: var(--translucent-dark-1);

  --default-fade: opacityFade ease-in 300ms forwards;
  --default-transition: all 300ms cubic-bezier(0.25, 0.8, 0.25, 1);

  --mobile-breakpoint: 576px;
  --tablet-breakpoint: 768px;
  --desktop-breakpoint: 1024px;

  overflow-x: hidden;
}

@keyframes opacityFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  scrollbar-width: none;
}

html, body {
  height: 100%;
  margin: 0;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.svg {
  height: 50px;
  width: 50px;
  margin-right: 16px;
}

.mat-mdc-unelevated-button {
  letter-spacing: normal !important;
}

.my-custom-snackbar {
  margin: 0 !important;
  position: absolute !important;
  bottom: 64px !important;
}

.page {
  top: 0;
  bottom:0;
  height: 100%;
  width: 100%;
  position:fixed;
  overflow-y:scroll;
  overflow-x:hidden;
  animation: var(--default-fade) !important;
}

::ng-deep.mat-mdc-button>.mat-icon{
  margin-left: 0 !important;
  margin-right: 0 !important;
}

::ng-deep.mat-mdc-snack-bar-container .mat-mdc-button.mat-mdc-snack-bar-action{
  color: var(--color-accent) !important;
  margin-bottom: 12px !important;
}

::ng-deep.mat-snack-bar-container {
  background-color: var(--translucent-dark-1) !important;
  color: var(--white);
  text-align: center;
}

::ng-deep.mat-simple-snackbar {
  flex-direction: column !important;
  justify-content: space-between;
}

::ng-deep.mat-simple-snackbar-action {
  margin-top: 4px !important;
}

::ng-deep.mat-mdc-simple-snack-bar{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-content: center;
  align-items: center;
}
