.bpm-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 1.6rem;
}

.selected {
  background-color: var(--white) !important;
  color: var(--translucent-dark-1) !important;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.loop-button {
  width: 4rem !important;
  height: 2rem !important;
  color: white;
  background-color: var(--translucent-dark-1);
  font-size: var(--font-small);
}

input {
  color: var(--white);
  caret-color: var(--color-accent) !important;
  text-align: center !important;
  height: 2rem !important;
  font-size: var(--font-normal) !important;
}

input::selection {
  background: var(--color-accent-2) !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  min-height: 0 !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  width: auto !important;
}

::ng-deep .bpm-outline {
  height: 2rem !important;
  margin: 0 !important;
  border-radius: 16px;
}

::ng-deep.mat-mdc-form-field-error{
  color: var(--color-accent) !important;
}

.text-and-incr {
  display: flex;
  flex-direction: row;
  justify-content: space-between !important;
  align-content: center;
  align-items: center;
  width: 12rem;
}

.inc-arrow {
  width: 1rem !important;
  height: 1rem !important;
  font-size: var(--font-normal) !important;
  color: var(--translucent-grey-2)
}

.incrementor {
  display: flex;
  flex-direction: column;
}

.spacer {
  width: 1rem;
}

::ng-deep .inc-btn {
  width: 1rem !important;
  min-width: 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 1rem !important;
  min-height: 1rem !important;
  margin-left: 0.4rem;
}

.scroll {
  cursor: ns-resize !important;
}
