<div class="bpm-container">
  <div class="text-and-incr">
    <div class="spacer"></div>

    <div class="text-outline bpm-outline">
      <mat-form-field  appearance="outline" class="text-bar">
        <!--        <mat-label [ngStyle]="{'opacity': (loopSelected && bpm == '') ? 0 : 1}"-->
        <!--                    class="bpm-add">bpm</mat-label>-->
        <input #bpmForm [ngStyle]="{'color': stateService.getCurrentState() == GenerationState.Error ? 'var(--error)' : 'var(--white)'}" (blur)="bpm_input_focus = false" spellcheck="false" (focus)="bpm_input_focus = true" matInput [disabled]="!loopSelected" [formControl]="loopSelected ? numberInputControl : dummyControl" maxlength="3"
               [(ngModel)]="reqService.bpm" (keydown.tab)="selectPlaceholder()" (keydown.enter)="selectPlaceholder()" (input)="updateBPM()">
      </mat-form-field>
    </div>

    <div class="incrementor spacer" (wheel)="onScroll($event)">
      <button (click)="incrementUp()" [disabled]="reqService.bpm == '' || stateService.getCurrentState() == GenerationState.Error || !loopSelected" mat-button class="inc-btn scroll">
        <mat-icon class="inc-arrow">keyboard_arrow_up</mat-icon>
      </button>
      <button (click)="incrementDown()" [disabled]="reqService.bpm == '' || stateService.getCurrentState() == GenerationState.Error || !loopSelected" mat-button class="inc-btn scroll">
        <mat-icon class="inc-arrow">keyboard_arrow_down</mat-icon>
      </button>
    </div>
  </div>

  <div class="button-container">
    <button class="loop-button" [class.selected]="loopSelected" (click)="toggleLoop()" mat-flat-button> loop </button>
  </div>
</div>
