<div class="page">
  <div class="container">
    <div #generationList class="generation-list">
      <div class="audio-container"
           [@listAnimation]="wavebox_ids.length"
           [@.disabled]="!animate_waveboxes">
        <app-wavebox #wavebox *ngFor="let audioID of wavebox_ids" [audioID]="audioID" [parent]="this"></app-wavebox>
      </div>
    </div>

    <mat-card class="text-card" #rippleCard matRipple [matRippleDisabled]="true">
      <div #outline class="text-outline" >
        <button disableRipple="true" [disabled]="stateService.getCurrentState() != GenerationState.Generating
                                            && (stateService.getCurrentState() == GenerationState.Error || reqService.description == '')"
                class="generate-button" (click)="generate()" mat-button>
          <mat-icon [ngClass]="{'button-active': reqService.description != '', 'button-inactive': stateService.getCurrentState() == GenerationState.Error || reqService.description == ''}" *ngIf="stateService.getCurrentState() != GenerationState.Generating">play_arrow</mat-icon>
          <mat-icon [ngClass]="{'button-active': reqService.description != '', 'button-inactive': stateService.getCurrentState() == GenerationState.Error || reqService.description == ''}" *ngIf="stateService.getCurrentState() == GenerationState.Generating">stop</mat-icon>
        </button>

        <mat-form-field appearance="outline" class="text-bar">
          <input (blur)="input_focus = false" spellcheck="false" (focus)="nextPlaceholder(); input_focus = true;" (input)="checkRipple()" matInput class="input" (keydown.tab)="selectPlaceholder()" [disabled]="stateService.getCurrentState() == GenerationState.Error" maxlength="500" [(ngModel)]="reqService.description">
        </mat-form-field>

        <button style="visibility: hidden" [disabled]="true" class="generate-button" mat-button>
        </button>
      </div>


      <div class="control-panel">
        <div class="controls-row">
          <div class="control-item">
            <app-key-select></app-key-select>
          </div>
          <div class="control-item">
            <app-slider name="" [min]=1 [max]=10 [step]=1></app-slider>
            <app-slider name="" [min]=0 [max]=2.0 [step]=0.05></app-slider>
          </div>
          <div class="control-item">
            <app-bpm-select></app-bpm-select>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
